body {
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 100px;
  text-align: center;
  color: white;
}

p {
  font-size: 100px;
  text-align: center;
  color: white;
}

input {
  text-align: center;
}
